<div class="center hero-unit">

  <h1>Grip sjansen idag....</h1>
 	<%= link_to image_tag("logo.png", alt: "pk_logo"), root_path %>
 
    <h3>
    	Ny jobb?
    	Nye muligheter?<br>
    	Nye løsninger
    	Nye folk?<br>
    	Gjør noe positivt med din kompetanse.

    	Registrer deg her.
  	</h3>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>