<div class="center hero-unit">

  <h1>Grip sjansen idag....</h1>
 	<%= link_to image_tag("logo.png", alt: "pk_logo"), root_path %>
    <h3>
    	Ny jobb?
    	Nye muligheter?<br>
    	Nye løsninger
    	Nye folk?<br>
    	Gjør noe positivt med din kompetanse.

    	Registrer deg her.
  	</h3>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-success btn-large" %>
</div>
<!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h3>Formidling</h3>
          	<p>1. Gjennomgang av kompetanse behov sammen med kunde. <br>
			 	2. Kunde får tilgang og oversendt kandidater som PK til en hver tid kommer over med ønsket erfaring og kvalifikasjoner.
		  	</p>
          <p><a class="btn" href="#">Les mer &raquo;</a></p>
        </div>
        <div class="span4">
          <h3>Rådgivning</h3>
          	<p> 1. Vi kan bistå våre kunder med personal spørsmål og rådgivning i forhold til interne utfordringer. <br>
			 	2. 
			<br><br>
			<br>
		  	</p>
          <p><a class="btn" href="#">Les mer &raquo;</a></p>
       </div>
        <div class="span4">
          <h3>Rekruttering</h3>
          <p>Jobbanalyse

		Annonsering - Search<br>

		1 gangs intervju & 2 gangs intervju <br>

		Kandidatpresentasjoner til kunde <br>

		3 gangs intervju hos kunde <br>

		Referanseintervjuer<br>

		Ansettelse - Oppfølging</p>
          <p><a class="btn" href="#">Les mer &raquo;</a></p>
        </div>
      </div>
