<%provide(:title, "Rekruttering")%>
<div class="center hero-unit">
<h1>Rekruttering</h1>
	<h3>
		Jobbanalyse<br><br>
		Annonsering - Search<br><br>
		1 gangs intervju & 2 gangs intervju <br><br>
		Kandidatpresentasjoner til kunde <br><br>
		3 gangs intervju hos kunde <br><br>
		Referanseintervjuer - Ansettelse <br><br>
		Oppfølging

			</h3>
</div>