<% provide(:title, 'Tjenester')%>
<div class="center hero-unit">
	<h1>Tjenester</h1>
		<h3>
			<ul>
				Rekruttering<br><br>
				Formidling<br><br>
				Rådgivning<br><br>
				Firmaanalyse
			</ul>
		</h3

</div>